@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
  --color-text: lightcyan;
  --color-text-dimmed: rgba(255, 255, 255, .75);
  --color-text-bright: #fff;
  --color-background: #464656;
  --font-size: 20px;
  --font-primary: "Poppins";
  --font-secondary: "Poppins";
}
