/*****************************************************
 * Magic Mirror                                      *
 * Custom CSS                                        *
 *                                                   *
 * By Michael Teeuw http://michaelteeuw.nl           *
 * MIT Licensed.                                     *
 *                                                   *
 * Add any custom CSS below.                         *
 * Changes to this files will be ignored by GIT. *
 *****************************************************/

body {
  margin: 20px;
  position: absolute;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  font-family: "Roboto Condensed", sans-serif;
}

header {
	text-transform: none;
}

.region.top.left {
    width: calc(40%);
}

.region.top.center {
    width: calc(20%);
}

.region.top.right {
    width: calc(40%);
}

.region.bottom.left {
    width: calc(50%);
}

.region.bottom.right {
    width: calc(50%);
}

.calendar .symbol {
	vertical-align: center;
  	padding-right: 5px;
}

.calendar .time {
	font-size: 70%;
}

.calendar .title {
  padding-left: 0;
  padding-right: 0;
}

.calendar .time {
	padding-left: 10px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

.MMM-NetworkScanner .date {
	font-size: 70%;
	white-space: nowrap;
}

.clock div.time.bright.large.light span.bold {
  margin-top: 100px;
	font-size: 65pt;
}

.clock div.time.bright.large.light {
	font-size: 65pt;
}

.MMM-forecast-io .wi-sunrise {
color: #ffd700;
}
.MMM-forecast-io .wi-sunset {
color: #ffa500;
}
.MMM-forecast-io .wi-day-sunny {
color: #ffff00;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-degrees {
color: #415;
}
.MMM-forecast-io .wi-rain {
color: #55acee;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-alt-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-night-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-day-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-snow {
color: #fff;
}
.MMM-forecast-io .wi-fog {
color: #999;
}
.MMM-forecast-io .wi-night-clear {
color: #fff;
}
.MMM-forecast-io .wi-night-rain {
color: #55acee;
}
.MMM-forecast-io .wi-night-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-night-snow {
color: #fff;
}
.MMM-forecast-io .wi-sunrise {
color: #ffd700;
}
.MMM-forecast-io .wi-sunset {
color: #ffa500;
}
.MMM-forecast-io .wi-day-sunny {
color: #ffff00;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-degrees {
color: #415;
}
.MMM-forecast-io .wi-rain {
color: #55acee;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-showers {
color: #55acee;
}
.MMM-forecast-io .wi-night-alt-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-night-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-day-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy {
color: #aaa;
}
.MMM-forecast-io .wi-cloudy-windy {
color: #aaa;
}
.MMM-forecast-io .wi-showers {
color: #55acee;
}
.MMM-forecast-io .wi-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-snow {
color: #fff;
}
.MMM-forecast-io .wi-fog {
color: #999;
}
.MMM-forecast-io .wi-night-clear {
color: #fff;
}
.MMM-forecast-io .wi-night-rain {
color: #55acee;
}
.MMM-forecast-io .wi-night-thunderstorm {
color: #ff00ff;
}
.MMM-forecast-io .wi-night-snow {
color: #fff;
}
