@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

body {
  /* color: greenyellow;
  text-shadow: 0 0 15px greenyellow; */
  color: rgb(196, 240, 255);
  text-shadow: 0 0 15px rgb(196, 240, 255);
  font-family: "Major Mono Display", monospace;

  /* padding: 2.5%; */
  overflow: hidden;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100px;
  overflow-x: hidden;

  font-size: 72px;
  font-weight: bold;
}

.marqueeTrack {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.topHalf {
  height: 45vh;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 2.5%;
}

.bottomHalf {
  height: 45vh;
  padding: 2.5%;
}

.clockApp {
  width: 45vw;
  height: 100%;
  float: left;
}

.clockTime {
  font-size: 72px;
  margin-bottom: 0px;
}

.weatherApp {
  width: 45vw;
  height: 100%;
  float: right;
  text-align: right;
}

.weatherForecastTable > tr,
td {
  padding-left: 15px;
}

.statsForNerds {
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
}
