body {
  color: red;
  font-family: monospace;

  padding: 2.5%;
}

.topHalf {
  height: 45vh;
}

.bottomHalf {
  height: 45vh;
}

.clockApp {
  width: 45vw;
  height: 100%;
  float: left;
}

.weatherApp {
  width: 45vw;
  height: 100%;
  float: right;
  text-align: right;
}
