.currentweather .weathericon,
.currentweather .fa-home {
  font-size: 75%;
  line-height: 65px;
  display: inline-block;
  transform: translate(0, -3px);
}

.currentweather .humidityIcon {
  padding-right: 4px;
}

.currentweather .humidity-padding {
  padding-bottom: 6px;
}
