# editorconfig.org

root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.js]
indent_style = tab
indent_size = 4

[*.css]
indent_style = space
indent_size = 2
