# Various Node ignoramuses.
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.lock-wscript
build/Release
/node_modules/**/*
!/tests/node_modules/**/*
jspm_modules
.npm
.node_repl_history

# Visual Studio Code ignoramuses.
.vscode/

# IDE Code ignoramuses.
.idea/

# Various Windows ignoramuses.
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Various OSX ignoramuses.
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Various Linux ignoramuses.
.fuse_hidden*
.directory
.Trash-*

# Vim
## swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

## diff patch
*.orig
*.rej
*.bak

# Ignore positions file (#3518)
js/positions.js

# Ignore lock files other than package-lock.json
pnpm-lock.yaml
yarn.lock
