.MMM-Wallpaper .content {
  background: #000;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.MMM-Wallpaper .wallpaper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.MMM-Wallpaper .crossfade-image {
  transition: opacity 1s ease-in-out;
}

.MMM-Wallpaper .cover-tall {
  width: 100%;
}

.MMM-Wallpaper .cover-wide {
  height: 100%;
}

.MMM-Wallpaper .contain-tall {
  height: 100%;
}

.MMM-Wallpaper .contain-wide {
  width: 100%;
}

.MMM-Wallpaper .title {
  position: absolute;
  right: 25px;
  bottom: 25px;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 25px;
}
