{% if hourly %}
  {% set numSteps = hourly | calcNumEntries %}
  {% set currentStep = 0 %}
  <div class="{{ config.tableClass }} weather-hourly" role="table">
    {% set hours = hourly.slice(0, numSteps) %}
    {% for hour in hours %}
      <div class="weather-hourly-row{% if config.colored %}{{ " colored" }}{% endif %}" role="row" {% if config.fade %}style="opacity: {{ currentStep | opacity(numSteps) }};"{% endif %}>
        <div class="time" role="cell">{{ hour.date | formatTime }}</div>
        <div class="bright weather-icon" role="cell">
          <span class="wi weathericon wi-{{ hour.weatherType }}"></span>
        </div>
        <div class="align-right bright temperature" role="cell">{{ hour.temperature | roundValue | unit("temperature") }}</div>
        {% if config.showUVIndex %}
          <div class="align-right bright uv-index" role="cell">
            {% if hour.uvIndex!=0 %}
              {{ hour.uvIndex }}
              <span class="wi weathericon wi-hot"></span>
            {% endif %}
          </div>
        {% endif %}
        {% if config.showHumidity != "none" %}
          <div class="align-left bright humidity-hourly" role="cell">
            {{ hour.humidity }}
            <span class="wi wi-humidity humidity-icon"></span>
          </div>
        {% endif %}
        {% if config.showPrecipitationAmount %}
          <div class="align-right bright precipitation-amount{% if config.hideZeroes and hour.precipitationAmount <= 0 %}{{ " weather-hidden" }}{% endif %}" role="cell">
            {% if not config.hideZeroes or hour.precipitationAmount > 0 %}
              {{ hour.precipitationAmount | unit("precip", hour.precipitationUnits) }}
            {% endif %}
          </div>
        {% endif %}
        {% if config.showPrecipitationProbability %}
          <div class="align-right bright precipitation-prob{% if config.hideZeroes and hour.precipitationAmount <= 0 %}{{ " weather-hidden" }}{% endif %}" role="cell">
            {% if not config.hideZeroes or hour.precipitationAmount > 0 %}
              {{ hour.precipitationProbability | unit('precip', '%') }}
            {% endif %}
          </div>
        {% endif %}
      </div>
      {% set currentStep = currentStep + 1 %}
    {% endfor %}
  </div>
{% else %}
  <div class="dimmed light small">{{ "LOADING" | translate }}</div>
{% endif %}
<!-- Uncomment the line below to see the contents of the `hourly` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{ hourly | dump }}</div> -->
