.weather .weathericon,
.weather .fa-home {
  font-size: 75%;
}

.weather .humidity-icon {
  padding-right: 4px;
}

.weather .humidity-padding {
  padding-bottom: 6px;
}

.weather .weather-forecast,
.weather .weather-hourly {
  display: grid;
  width: max-content;
  grid-template-columns: repeat(7, max-content);
}

.weather .weather-forecast-row,
.weather .weather-hourly-row {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
  align-items: baseline;
  column-gap: 25px;
}

.weather .day {
  white-space: nowrap;
}

.weather .weather-icon {
  text-align: center;
}

.weather .min-temp {
  padding-right: 0;
}

.weather .max-temp,
.weather .precipitation-amount,
.weather .precipitation-prob,
.weather .humidity-hourly,
.weather .uv-index {
  padding: 0;
}

.weather .weather-hidden {
  visibility: hidden;
}

.weather .weather-forecast .day {
  order: var(--weather-forecast-day-order, 1);
}

.weather .weather-forecast .weather-icon {
  order: var(--weather-forecast-icon-order, 2);
}

.weather .weather-forecast .min-temp {
  order: var(--weather-forecast-min-temp-order, 3);
}

.weather .weather-forecast .max-temp {
  order: var(--weather-forecast-max-temp-order, 4);
}

.weather .weather-forecast .uv-index {
  order: var(--weather-forecast-uv-index-order, 5);
}

.weather .weather-forecast .precipitation-amount {
  order: var(--weather-forecast-precipitation-amount-order, 6);
}

.weather .weather-forecast .precipitation-prob {
  order: var(--weather-forecast-precipitation-prob-order, 7);
}

.weather .weather-hourly .time {
  order: var(--weather-hourly-time-order, 1);
  white-space: nowrap;
}

.weather .weather-hourly .weather-icon {
  order: var(--weather-hourly-icon-order, 2);
  text-align: center;
}

.weather .weather-hourly .temperature {
  order: var(--weather-hourly-temperature-order, 3);
}

.weather .weather-hourly .uv-index {
  order: var(--weather-hourly-uv-index-order, 4);
}

.weather .weather-hourly .humidity-hourly {
  order: var(--weather-hourly-humidity-order, 5);
}

.weather .weather-hourly .precipitation-amount {
  order: var(--weather-hourly-precipitation-amount-order, 6);
}

.weather .weather-hourly .precipitation-prob {
  order: var(--weather-hourly-precipitation-prob-order, 7);
}

.weather .weather-forecast-row.colored .min-temp {
  color: #bcddff;
}

.weather .weather-forecast-row.colored .max-temp {
  color: #ff8e99;
}

.weather .type-temp {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
