.calendar .symbol {
  padding-left: 0;
  padding-right: 10px;
  font-size: var(--font-size-small);
}

.calendar .symbol span {
  padding-top: 4px;
}

.calendar .title {
  padding-left: 0;
  padding-right: 0;
}

.calendar .time {
  padding-left: 30px;
  text-align: right;
  vertical-align: top;
}
