const config = {
	calendars: [
		{
			fetchInterval: 7 * 24 * 60 * 60 * 1000,
			symbol: "calendar-check",
			url: "https://ics.calendarlabs.com/76/mm3137/US_Holidays.ics"
		}
	]
};

module.exports = config;
