/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 */

var config = {
	port: 8080,

	language: 'de',
	timeFormat: 24,

	modules: [
		{
			module: 'alert',
		},
		{
			module: 'clock',
			position: 'top_left'
		},
		{
			module: 'calendar',
                        header: 'Termine',
                        position: 'top_left',
                        config: {
                                calendars: [
                                        {
                                                symbol: 'mars ', /* Maennlich, Mein Google Kalender */
                                                url: '.....'
                                        },
                                        {
                                                symbol: 'mars ', /* Maennlich, Mein iCloud Kalender */
                                                url: '.....'
                                        },
                                        {
                                                symbol: 'venus ', /* Weiblich, Mein Google Kalender */
                                                url: '.....'
                                        }
                                ]
                        }
                },
		{
                        module: "helloworld",
                        position: "top_center",
                        config: {
                        text: 'Hello world'
                        }
                },
		{
			module: 'compliments',
			position: 'lower_third',
		},
		{
			module: 'currentweather',
			position: 'top_right',
			config: {
				location: 'Stuttgart, DE',
				appid: 'YOUR_OPENWEATHER_API_KEY'
			}
		},
		{
			module: 'weatherforecast',
			position: 'top_right',
			header: 'Weather Forecast',
			config: {
	            location: 'Stuttgart, DE',
	            appid: 'YOUR_OPENWEATHER_API_KEY'
			}
		},
		{
			module: 'newsfeed',
			position: 'bottom_bar',
			config: {
				feedUrl: 'http://www.tagesschau.de/xml/rss2',
				showPublishDate: true,
			}
		},
	]

};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== 'undefined') {module.exports = config;}
