{% if hourly %}
    {% set numSteps = hourly | calcNumEntries %}
    {% set currentStep = 0 %}
    <table class="{{ config.tableClass }}">
        {% set hours = hourly.slice(0, numSteps) %}
        {% for hour in hours %}
            <tr {% if config.colored %}class="colored"{% endif %} {% if config.fade %}style="opacity: {{ currentStep | opacity(numSteps) }};"{% endif %}>
                <td class="day">{{ hour.date | formatTime }}</td>
                <td class="bright weather-icon"><span class="wi weathericon wi-{{ hour.weatherType }}"></span></td>
                <td class="align-right bright">
                    {{ hour.temperature | roundValue | unit("temperature") }}
                </td>
                {% if config.showPrecipitationAmount %}
                    {% if hour.precipitationUnits %}	
                        <td class="align-right bright precipitation">
                            {{ hour.precipitation }}{{ hour.precipitationUnits }}
                        </td>			
		                {% else %}
                        <td class="align-right bright precipitation">
                            {{ hour.precipitation | unit("precip") }}
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
            {% set currentStep = currentStep + 1 %}
        {% endfor %}
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `hourly` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{hourly | dump}}</div> -->
