{% if wData %}
    {% set numSteps = wData.days | calcNumEntries %}
    {% set currentStep = 0 %}
    <table class="{{ config.tableClass }}">
        {% set days = wData.days.slice(0, numSteps) %}
        {% for day in days %}
            <tr {% if config.colored %}class="colored"{% endif %} {% if config.fade %}style="opacity: {{ currentStep | opacity(numSteps) }};"{% endif %}>
                <td class="day">{{ day.date.format('ddd') }}</td>
                <td class="bright weather-icon"><span class="wi weathericon wi-{{ day.weatherType }}"></span></td>
                <td class="align-right bright max-temp">
                    {{ day.maxTemperature | roundValue | unit("temperature") }}
                </td>
                <td class="align-right min-temp">
                    {{ day.minTemperature | roundValue | unit("temperature") }}
                </td>
                {% if config.showPrecipitationAmount %}
                    <td class="align-right bright precipitation">
                        {{ day.precipitation | unit("precip") }}
                    </td>
                {% endif %}
            </tr>
            {% set currentStep = currentStep + 1 %}
        {% endfor %}
    </table>
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate | safe }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `wData` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{wData | dump}}</div> -->
