<!--
	Use ` | safe` to allow html tages within the text string.
	https://mozilla.github.io/nunjucks/templating.html#autoescaping
-->
<div class='red'>{{text | safe}}
    <button id='butt'>Test</button>
</div>
