{% if title %}
  <span class="thin dimmed medium">{{ title | safe if (titleType == null || titleType == 'html') else title }}</span>
{% endif %}
{% if message %}
  {% if title %}
    <br/>
  {% endif %}
  <span class="light bright small">{{ message | safe if (messageType == null || messageType == 'text') else message }}</span>
{% endif %}
