iframe.newsfeed-fullarticle {
  width: 100vw;

  /* very large height value to allow scrolling */
  height: 3000px;
  top: 0;
  left: 0;
  border: none;
  z-index: 1;
}

.region.bottom.bar.newsfeed-fullarticle {
  bottom: inherit;
  top: -90px;
}

.newsfeed-list {
  list-style: none;
}

.newsfeed-list li {
  text-align: justify;
  margin-bottom: 0.5em;
}
