/* Extra styling for square boxes and a border around #today */

.square-box {
	position: relative;
	width: 50%;
	overflow: hidden;
	margin: 0px auto;
}

.square-box:before {
	content: "";
	display: block;
	padding-top: 20%;
}

.square-content {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.square-content #today {
	border: 1px solid #fff;
	font-weight: normal;
}

.square-content div {
	display: table;
	width: 100%;
	height: 100%;
}

.square-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
