/* Default styling block for Calendar2
 *
 * If you wish to create a custom style, please edit the styleCustom.css file
 */

#calendar-table {
/*	border: 2px solid #666; */
/*	border-radius: 10px; */
	padding: 5px;
	display: table;
	width: 100%;
}

#calendar-th {
	font-weight: bold;
	text-align: center;
	font-size: 1.4em;
	padding-bottom: 7px;
	border-bottom: 1px solid #ccc;
}

#calendar-header-day {
	text-align: center;
	color: #ccc;
	margin: 2px 0px;
	padding-top: 7px;
}

.calendar-day {
	text-align: center;
	width: 14.2%;
}

.monthPrevNext {
	color: #444;
}

#today {
	color: #fff;
	font-weight: bold;
}
